<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/adminpanel.css">
    
    <title>Admin Panel</title>
</head>
<body class="background-blue">


    <section class="container" id="">
        
        <a class="background-orange" href="https://rebolucion-production.up.railway.app/module/showmodulestodelete">
    <button class="white">Elimina modulos</button>
        </a>
    <a class="background-orange" href="https://rebolucion-production.up.railway.app/module/showmodulestoedit">
        <button class="white">Edita modulos</button>
    </a>
    
    
    <a class="background-orange" href="https://rebolucion-production.up.railway.app/unit/showunitstoedit">
        <button class="white">Edita unidades</button>
    </a>
    
    <a class="background-orange" href="https://rebolucion-production.up.railway.app/unit/showunitstodelete">
        <button class="white">Elimina unidades</button>
    </a>

      
    <a class="background-orange" href="https://rebolucion-production.up.railway.app/unit/create">
        <button class="white">Crea unidades</button>
    </a>

    <a class="background-orange" href="https://rebolucion-production.up.railway.app/module/createmodule">
        <button class="white">Crea Modulos</button>
    </a>

    <a class="background-orange" href="https://rebolucion-production.up.railway.app/teacher">
        <button class="white">Todos los profesores</button>
    </a>

    <a class="background-orange" href="https://rebolucion-production.up.railway.app/teacher/create-teacher">
        <button class="white">Crea profesores</button>
    </a>


    </section>
</body>

</html>