<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/notFound.css">
</head>
<body class="background-blue">
    <div class="loading" id="loading">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <main class="hidden" id="main">

       
        <section class="error-container">
            <h1 class="white">Upsss...</h1>
            <h3 class="white">Lamentablemente no encontramos lo que estabas buscando!</h3>

            <div class="icon-container">
                <i class="orange fa-sharp fa-solid fa-circle-exclamation"></i>
                <i class="orange fa-sharp fa-solid fa-circle-exclamation"></i>
                <i class="orange fa-sharp fa-solid fa-circle-exclamation"></i>
                <i class="orange fa-sharp fa-solid fa-circle-exclamation"></i>
                <i class="icon-hidden orange fa-sharp fa-solid fa-circle-exclamation"></i>
                <i class="icon-hidden  orange fa-sharp fa-solid fa-circle-exclamation"></i>
                <i class="icon-hidden  orange fa-sharp fa-solid fa-circle-exclamation"></i>
                <i class="icon-hidden orange fa-sharp fa-solid fa-circle-exclamation"></i>

                <i class="icon-hidden-v2  orange fa-sharp fa-solid fa-circle-exclamation"></i>
                <i class="icon-hidden-v2  orange fa-sharp fa-solid fa-circle-exclamation"></i>
            </div>

            <div class="a-home-container">
            <a href="https://rebolucion-production.up.railway.app/" class="inicio-a background-orange">
                <button class="white">
                Inicio
                </button>
            </a>
        </div>
            
        </section>

        <section class="image-container">
            
        </section>
    </main>

</body>
<script src="/js/loading.js"></script>

</html>