<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/header2.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/moduleDetail.css">
    <link rel="stylesheet" href="/styles/unitDetail.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/resources.css">

    <title>Recursos</title>
</head>
  <body class="background-blue">
  <div class="loading" id="loading">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

  <header class="hidden" id="header">
    <!--INICIO DEL HEADER -->
    <section class="button-of-header-container">
     <a class="background-orange"href="http://localhost:3000">
        <button class="background-orange white">
            ←
        </button>
     </a>
    </section>
<!--FIN DEL HEADER-->
</header>

<main class="" id="main">
        <h1 class="orange">Recursos para aprender sobre...</h1>
        <section class="sub-section">

       
          <% resources.forEach(thing => {%>
            <div class="false-box background-light-color-box-from-behind">
              <div class="background-light-color  div-inside">
                <i class="<%= thing.icon %>  orange icon-card"></i>
                <h6 class="white">
                  <%= thing.name %>
                </h6>
                <% if (thing.ready) { %>
                  <a class="background-orange  white" href="<%= thing.url %>">
                      <button class="background-orange white">
                          Acceder
                      </button>
                  </a>
              <% } else { %>
                <a class="background-orange  white" href="">
                  <button class="background-orange white">
                      Proximamente
                  </button>
              </a>
              <% } %>
             
              </div>
            </div>  
            <% }); %>    
      </section>         
    </main>

    <footer class="background-footer">
      <section  class="footer-section">
        <a href="https://twitter.com/rebolucionnn">
        <i class="fa-brands fa-twitter"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="https://open.spotify.com/show/3EyKX9xEgU0K7WfyWXI9Sr">
        <i class="fa-solid fa-podcast"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="https://tiktok.com/@rebolucionw3">
        <i class="fa-brands fa-tiktok"></i>
      </a>
      </section>
    </footer>

</body>
<script src="/js/loadingWithHeader.js"></script>

</html>