<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/aviso.css">
    <link rel="stylesheet" href="/styles/header2.css">
    <link rel="stylesheet" href="/styles/resources.css">

    <title>Recursos</title>
</head>
<body class="background-blue">
  <div class="loading" id="loading">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

  <header class="hidden" id="header">
    <!--INICIO DEL HEADER -->
    <section class="button-of-header-container">
     <a class="background-orange"href="https://rebolucion-production.up.railway.app">
        <button class="background-orange white">
            ←
        </button>
     </a>
    </section>
<!--FIN DEL HEADER-->
</header>

<main class="" id="main">
        <h1 class="orange">Aprende sobre Bitcoin</h1>
        <section class="big-section">
            <div class="books">
                <h4 class="white">Libros recomendados:</h4>
                <a class="orange" href="">
                    Mastering Bitcoin
                </a>
                <a class="orange" href="">
                    El patron Bitcoin
                </a>
                <a  class="orange" href="">
                    El internet del dinero
                </a>
                <a class="orange" href="">
                    Mastering Ethereum
                </a>
            </div>

            <div class="glosario">
                <h4 class="white">Glosario tecnico:</h4>
                <a class="orange" href="">
                    Conoce el glosario
                </a>
            </div>

            <div class="glosario">
                <h4 class="white">Charlas interesantes:</h4>
                <a class="orange" href="">
                    Podcast
                </a>
            </div>

            <div class="glosario">
                <h4 class="white">Otras redes:</h4>
                <a class="orange" href="">
                    TikTok
                </a>
                <a class="orange" href="">
                    Instagram
                </a>
            </div>
        </section>            
    </main>

    <footer class="background-footer">
      <section  class="footer-section">
        <a href="https://twitter.com/rebolucionnn">
        <i class="fa-brands fa-twitter"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="https://open.spotify.com/show/3EyKX9xEgU0K7WfyWXI9Sr">
        <i class="fa-solid fa-podcast"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="https://tiktok.com/@rebolucionw3">
        <i class="fa-brands fa-tiktok"></i>
      </a>
      </section>
    </footer>

</body>
<script src="/js/loadingWithHeader.js"></script>

</html>