h1 {
    font-weight: bold;
    margin-bottom: 1.7em;
 }

 main{
    width: 100%;
    padding: 1em;
    height: 120vh;
 }
main .big-section {
    width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 }

 main .big-section div {
    width: 100%;
    padding: .4em 1em 1em 1em;
    height: 30%;
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5em;
 }

 main .big-section div a {
    width: 100%;
    padding-bottom: .8em;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid white;
    cursor: pointer;
 }

 main .big-section .glosario {
    height: 15%;
 }


 @media(min-width: 900px){
    main{
        height: 150vh;
     }
     main .big-section div h4 {
        font-size: 1.8em;
       }
 main .big-section div a {
  font-size: 1.3em;
 }
}
@media(min-width: 1200px){
    main{
        height: 170vh;
 }
}